:root{
    --orange:#E76F51;
    --withe:#fff;
    --dark:#3B3735;
    --primery-font:"roboto" , sans-serif , Arial;
    --primery-font-md:"roboto Medium" , sans-serif , Arial;
    --secendary-font:"Archivo Black" , sans-serif , Arial;
}



html{
    box-sizing: border-box;
    font-size: 62.5%;  /* = font-size = 10 px =>   */
}

*,*:after,*::before{
    box-sizing: inherit;

}

body{
    line-height: 1.6;
    font-family:var(--primery-font); 
    font-size: 1.6rem;      /* font => 1rem = 10px*/
}




/* --Reset styles-- */
a{
    text-decoration: none;
}



/* --Helper classes-- */



/* --Component-- */

.btn{
    border-radius: 10rem;
    color: var(--withe);
    background-color: var(--dark); 
    width: 18rem;
    height: 5rem;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--primery-font-md);
}


/* --App styles-- */

.header{
    background:linear-gradient(rgba(59,55,53,0.5) , rgba(59,55,53,0.5)) , url(/images/header-bg.jpg);
    background-position: center;
    background-size: cover; 
    min-height: 85vh;
    border-radius: 0px 0px 8rem 8rem;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;

}
.nav__wrapper{
    display: flex;
    align-items: center;
}

/* 
================
    App Logo
================
 */
.app-logo{
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 4rem;

}
.app-logo__img{
    width: 100%;
    height: 100%;

}

/* 
================
    Main menu
================
 */
.menu{
    display: none ;
    /* display: flex; */

}
.menu__itme{
    margin-right: 1.5rem;
}
.menu__link{
    color: #D2D2D2;
    transition: color 100ms ease-in;
}
.menu__link:hover{
    color: var(--withe);
}

.menu__link--active{
    color: var(--withe );
    position: relative;
    z-index: 1;
}
.menu__link--active::before{
    content: ' ';
    position: absolute;
    width: 4rem;
    height: 0.3rem;
    background-color: var(--orange);
    border-radius: 10rem;
    transform: translateY(1rem) rotate(45deg);
    z-index: -1;
    right: 0;
    left: 0;
    margin: 0 auto;
   
}


/* 
======================
    Navigation Menu
======================
 */

.nav-menu{ 
    /* display: none; */
    background-color: var(--dark);
    position: fixed;
    top:0;
    bottom: 0;
    left: -25rem;
    width: 25rem;
    padding: 2.5rem;
    transition: all 250ms ease-in-out;
}

.nav-menu--open{
    left:0;
}
.nav-menu__title{
    color:var(--orange);
    font-size: 2rem;
    font-family: var(--secendary-font);
    border-bottom: 3px solid var(--orange);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* 
================
    MObile menu
================
 */

.mobile-menu{
    margin-bottom: 3rem;

}
.mobile-menu__itme{
    margin-bottom: 1rem;

}
.mobile-menu__link{
    color: var(--withe);
    position: relative;
    transition: all 200ms ease-in-out;
}
.mobile-menu__link::before{
    content: " ";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0rem;
    height: 0.3rem;
    background-color: var(--orange);
    transition: all 200ms ease-in-out;
    border-radius: 10rem;

}
.mobile-menu__link:hover{
    padding-left: 2rem;

}
.mobile-menu__link:hover::before{
    width: 1.6rem;

}


/* 
================
    Nav Links
================
 */


.nav-menu__links{
    display: flex;
}
.nav-menu__link{
    color: var(--withe);
    border: 1px solid var(--withe);
    display: block;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    transition: all 250ms ease-in-out;

}

.nav-menu__link:hover{
    background-color: var(--withe);
    color: var(--dark);
}
.nav-menu__link--border{

}


/* 
================
    Header links
================
 */
.nav__links{

    display: none;

}
.nav__link{
    color: var(--withe);
    font-family: var(--primery-font-md);
    margin-left: 1.5rem ;

}
.nav__link--border{
    border: 1px solid var(--withe);
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    transition: all 250ms ease-in;
    


}

.nav__link--border:hover{
    background-color: var(--withe);

    color: var(--orange);
}

/* 
================
    Nav menu
================
 */
.nav__btn{
    background: var(--withe);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__btn-line{
    display: block;
    width: 3rem;
    height: 0.3rem;
    background:var(--orange);
    border-radius: 2rem;
    position: relative;
    transition: all 250ms ease-in-out;
    
}

.nav__btn-line::before,
.nav__btn-line::after{
    content: ' ';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background:var(--orange);
    border-radius: 2rem;
    transition: all 250ms ease-in-out;
    

}

.nav__btn-line::before{
    top: -.8rem;
}
.nav__btn-line::after{
    top: .8rem;
}


.nav__btn--open .nav__btn-line{
    background: transparent;
}

.nav__btn--open .nav__btn-line::before{
   transform: translateY(8px) rotate(45deg); 
}

.nav__btn--open .nav__btn-line::after{
    transform: translateY(-8px) rotate(-45deg);
}


/* 
======================
    Header content
======================
 */


 .header-content{
    text-align: center;
    color: var(--withe);
    margin-top: 4rem;

 }
.header-content__title{
    font-family: var(--secendary-font);
    font-size: 4.5rem;
    line-height: 1.2;
   
    max-width: 31rem;
    margin: 0 auto 3rem auto;
}
.header-content__caption{
    font-size:1.8rem ;
    /* margin-bottom: 3rem; */
    max-width: 32.7rem;margin: 0 auto 3rem auto;

}
.header-content__link{
    background-color:var(--orange);

}

