:root{
    --primery-color:#E76F51;
    --secondary-color:#F8E1DB;
    --withe:#fff;
    --dark:#3B3735;
    --primery-font:"roboto" , sans-serif , Arial;
    --primery-font-md:"roboto Medium" , sans-serif , Arial;
    --secendary-font:"Archivo Black" , sans-serif , Arial;
    --app-bg:#FAF4F2;

}




html{
    box-sizing: border-box;
    font-size: 62.5%;  /* = font-size = 10 px =>   */
    scroll-behavior: smooth ;
}

*,*:after,*::before{
    box-sizing: inherit;

}

body{
    line-height: 1.6;
    font-family:var(--primery-font); 
    font-size: 1.6rem;      /* font => 1rem = 10px*/
    background-color: var(--app-bg);


}




/* --Reset styles-- */
a{
    text-decoration: none;
}



/* --Helper classes-- */



/* --Component-- */

.btn{
    border-radius: 10rem;
    color: var(--withe);
    background-color: var(--dark); 
    width: 18rem;
    height: 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--primery-font-);
}


/* --App styles-- */

.header{
    background:linear-gradient(rgba(59,55,53,0.5) , rgba(59,55,53,0.5)) , url(../images/header-bg.jpg);
    background-position: center;
    background-size: cover; 
    min-height: 85vh;
    border-radius: 0px 0px 8rem 8rem;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;

}
.nav__wrapper{
    display: flex;
    align-items: center;
}

/* 
================
    App Logo
================
 */
.app-logo{
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 4rem;

}
.app-logo__img{
    width: 100%;
    height: 100%;

}

/* 
================
    Main menu
================
 */
.menu{
    display: none ;
    /* display: flex; */

}
/* .menu__itme{
} */
.menu__link{
    margin-right: 1.5rem;
    color: #D2D2D2;
    transition: color 100ms ease-in;
}
.menu__link:hover{
    color: var(--withe);
}

.menu__link--active{
    color: var(--withe );
    position: relative;
    z-index: 1;
}
.menu__link--active::before{
    content: ' ';
    position: absolute;
    width: 4rem;
    height: 0.3rem;
    background-color: var(--primery-color);
    border-radius: 10rem;
    transform: translateY(1rem) rotate(45deg);
    z-index: -1;
    right: 0;
    left: 0;
    margin: 0 auto;
   
}


/* 
======================
    Navigation Menu
======================
 */

.nav-menu{ 
    /* display: none; */
    background-color: var(--dark);
    position: fixed;
    top:0;
    bottom: 0;
    left: -25rem;
    width: 25rem;
    padding: 2.5rem;
    transition: all 250ms ease-in-out;
}

.nav-menu--open{
    left:0;
}
.nav-menu__title{
    color:var(--primery-color);
    font-size: 2rem;
    font-family: var(--secendary-font);
    border-bottom: 3px solid var(--primery-color);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* 
================
    MObile menu
================
 */

.mobile-menu{
    margin-bottom: 3rem;

}
.mobile-menu__itme{
    margin-bottom: 1rem;

}
.mobile-menu__link{
    color: var(--withe);
    position: relative;
    transition: all 200ms ease-in-out;
}
.mobile-menu__link::before{
    content: " ";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0rem;
    height: 0.3rem;
    background-color: var(--primery-color);
    transition: all 200ms ease-in-out;
    border-radius: 10rem;

}
.mobile-menu__link:hover{
    padding-left: 2rem;

}
.mobile-menu__link:hover::before{
    width: 1.6rem;

}


/* 
================
    Nav Links
================
 */


.nav-menu__links{
    display: flex;
}
.nav-menu__link{
    color: var(--withe);
    border: 1px solid var(--withe);
    display: block;
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
    transition: all 250ms ease-in-out;

}

.nav-menu__link:hover{
    background-color: var(--withe);
    color: var(--dark);
}
/* .nav-menu__link--border{

} */


/* 
================
    Header links
================
 */
.nav__links{

    display: none;

}
.nav__link{
    color: var(--withe);
    font-family: var(--primery-font-md);
    margin-left: 1.5rem ;

}
.nav__link--border{
    border: 1px solid var(--withe);
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    transition: all 250ms ease-in;
    


}

.nav__link--border:hover{
    background-color: var(--withe);

    color: var(--primery-color);
}

/* 
================
    Nav menu
================
 */
.nav__btn{
    background: var(--withe);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav__btn-line{
    display: block;
    width: 3rem;
    height: 0.3rem;
    background:var(--primery-color);
    border-radius: 2rem;
    position: relative;
    transition: all 250ms ease-in-out;
    
}

.nav__btn-line::before,
.nav__btn-line::after{
    content: ' ';
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background:var(--primery-color);
    border-radius: 2rem;
    transition: all 250ms ease-in-out;
    

}

.nav__btn-line::before{
    top: -.8rem;
}
.nav__btn-line::after{
    top: .8rem;
}


.nav__btn--open .nav__btn-line{
    background: transparent;
}

.nav__btn--open .nav__btn-line::before{
   transform: translateY(8px) rotate(45deg); 
}

.nav__btn--open .nav__btn-line::after{
    transform: translateY(-8px) rotate(-45deg);
}


/* 
======================
    Header content
======================
 */


 .header-content{
    text-align: center;
    color: var(--withe);
    margin-top: 4rem;

 }
.header-content__title{
    font-family: var(--secendary-font);
    font-size: 4.5rem;
    line-height: 1.2;
   
    max-width: 31rem;
    margin: 0 auto 3rem auto;
}
.header-content__caption{
    font-size:1.8rem ;
    /* margin-bottom: 3rem; */
    max-width: 32.7rem;margin: 0 auto 3rem auto;

}
.header-content__link{
    background-color:var(--primery-color);

}





/*? --Main-- */

.main{

}

/* 
================
     services
================
 */

 .services{
    margin-top: -9rem;
    display: flex;
    flex-wrap: wrap;
    /* gap: 1rem; */
    margin-right: -1rem;
    margin-left: -1rem;
 }
 .service{
    background: rgb(160, 160, 218);
    margin-bottom: 2rem;
    width: 30rem;
    height: 26rem;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    color: var(--dark);
    background-color: var(--withe);
    flex-grow: 1;
    margin-right: 1rem;
    margin-left: 1rem;
 }
 .service__img{
    display: block;
}
.service__title{
    font-family: var(--secendary-font);
    font-size: 1.8rem;
    margin: 1.5rem 0 .8rem 0;

 }
 .service__captio{

 }


 /* 
======================
    Destinations
======================
 */

 .destinations{
    text-align: center;
    padding: 7rem 0 ;
    color: var(--dark);

 }
 .destinations__title{
    font-family: var(--secendary-font);
    font-size: 3rem;
    max-width: 36rem;
    margin: 3rem auto;

 }
 .destinations__logo{
    width: 8rem;
    height: 8rem;

 }

 .destinations__places{
    

 }


 .destinations__places{
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    
}
.place{
    background-color: var(--withe);
    border-radius: 2rem;
    padding: 2rem;
    color: var(--dark);
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    width: 30rem;
    flex-grow: 1;
 }
.place__banner{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    height: 18rem;
 }
 .place__img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .place__like{
    background-color: var(--withe);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    cursor: pointer;


 }
 .place__like-icon--fill{
    fill: var(--primery-color);
 

 }
 .place__price{
    background-color: var(--withe);
    position: absolute;
    bottom: -1rem;
    width: 12rem;
    padding: 0.5rem 2rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 1rem;
 }
 .place__price-text{
    font-family: var(--primery-font-md);
    color: var(--primery-color);
    text-align: center;
 }
 .place__title{
    font-family: var(--secendary-font);
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;

 }
 .place__caption{ 
    
    margin-bottom: 3rem;

 }
 .place__link{

 }
 .destinations__btn{

 }



 .destinations__btn{
    color: var(--primery-color);
    border:2px solid var(--primery-color) ;
    background-color: transparent;
    transition: all 200ms ease-in;
    margin-top: 3rem;
 }
 .destinations__btn:hover{
    color: var(--withe);
    background-color: var(--primery-color);
 }


 /* 
==================
    Newsletter
==================
 */


 .newsletter{
    background-color: var(--secondary-color);
    border-radius: 2rem;
    text-align: center;
    color: var(--dark);
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 6rem 0;

 }
.newsletter__content{

}
.newsletter__title{
    font-family: var(--secendary-font);
    font-size: 3rem;
    /* max-width: 36rem;
    margin: 3rem auto; */
    
    margin: 1.5rem auto;

}
.newsletter__caption{
    font-family: var(--primery-font-md);

}
.newsletter__email-box{
    position: relative;
    background-color: var(--withe);
    height: 7rem;
    border-radius: 2rem;
    padding: 0 1.5rem;
    margin-top: 2rem;

}
.newsletter__form{
    height: 100%;
    display: flex;
    align-items: center;

}
.newsletter__email-icon{
    flex-shrink: 0;

}
.newsletter__input{
    outline: none;
    border: none;
    height: 100%;
    color: #8D8D8D;
    width: 100%;
    padding: 0 1rem;
    font-size: 1.6rem;

}
.newsletter__submit{
    outline: none;
    border: none;
    background-color: var(--primery-color);
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.newsletter__banner{

}
.newsletter__img{
    width: 100%;

}
       

/*? --footer-- */





.footer{
    background-color: var(--secondary-color);
    border-radius: 10rem 10rem 0 0 ;
    color: var(--dark);
   padding-bottom: 4rem;
   
}
.footer > .container{
    padding-top: 10rem;
}

.footer__title{
    font-family: var(--secendary-font);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    
}
.footer__scroll{
    width: 5rem;
    height: 5rem;
    background-color: var(--withe);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2.5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    border-radius: 2rem;

}


.footer__wrapper{
    /* display: flex;    */
    justify-content: space-between;

}


 /* 
==================
    Footer left
==================
 */




.footer__left{
    max-width: 60rem;

}
.footer-content{
    margin-bottom: 2rem;

}

.footer-content__discription{

}
.footer-app{
    display: none;

}
.footer__title{

}
.footer-app__link{

}
.footer-app__link{

}
.footer-app__img{

}

 /* 
==================
    Footer Right
==================
 */
.footer__right{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

}


.footer__list{
    width: 16rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.footer-pages{
    
}
.footer-pages__itme{
    
}
.footer-pages__link{
    color: var(--dark);
    transition: all 250ms ease-in-out;
    position: relative;
    
}






.footer-pages__link::before{
    content: " ";
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0rem;
    height: 0.3rem;
    background-color: var(--primery-color);
    transition: all 200ms ease-in-out;
    border-radius: 10rem;

}
.footer-pages__link:hover{
    color: var(--primery-color);
    padding-left: 2rem;

}
.footer-pages__link:hover::before{
    width: 1.6rem;

}


.footer-app--mobile{
    display: block;
}




.footer__copy-right{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

