@media (max-width:361px) {
    .header-content__title{
        font-size: 3.5rem;
    }
    .header-content__caption{
        font-size: 1.5rem;
        max-width: 27.7;
       
    }
    .destinations__title{
        font-size: 2.4rem;
    }
    .newsletter__title{
        max-width: 17rem;
    }
    .footer{
        text-align: center;
    }
    .footer__right{
        justify-content: center;
    }
    .footer-list{
        margin-left: 0;
        width: 100%;
    }
   
    
}



   
    
@media (min-width:576px) {
   
    
}
@media (min-width:768px) {
    .nav__btn , .nav-menu{
        display: none;
    }
    .menu{
        display: flex;
    }
    .newsletter{
        flex-direction: row;
        text-align: left ;
        align-items: center ;
    }
    .newsletter__content{
        flex-basis: 60%;
        padding-right: 2rem;
    }
    .newsletter__banner{
        flex-basis: 40%;
    }
   
    
}
@media (min-width:992px) {
    .nav__links{
        display: block;
    }
    .header-content__caption{
        max-width: 64rem;
        font-size: 2rem;
     
    }
    .newsletter__content{
        
        padding-right: 4rem;
    }
  
    .footer-app{
        display: block;
    }
    .footer-app--mobile{
        display: none;
    }
   .footer__wrapper{
    display: flex;
   }
   .footer__left{
    max-width: 50rem;
   }
   .footer__scroll{
    left: auto;
   }
    
}
@media (min-width:1200px) {
    .newsletter{
        justify-content: space-between;
    }
    .newsletter__content{
        flex-basis: auto;
        width: 60rem;
        
    }
    .newsletter__banner{
        flex-basis: auto;
        width: 42rem;
    }
    .footer__wrapper{
        justify-content: space-between;
    }
    .footer-list{
        margin-bottom: 0;
        margin-left: 2rem;
    }
   
   
    
}
@media (min-width:1400px) {
    .newsletter{
        padding: 3rem 6rem;
    }
    
    
}